<!DOCTYPE html>
<html>
<head>
  <title><%if (typeof pageTitle !== 'undefined') {%><%= pageTitle %><% } else { %>Shine<% } %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:url" content="http://www.shinetext.com" />
  <meta property="og:title" content="<%if (typeof articleTitle !== 'undefined') {%><%= articleTitle %> | <% } %>Shine" />
  <meta property="og:description" content="Daily tips for self-fulfillment texted to you every morning." />
  <meta property="og:site_name" content="Shine" />
  <meta property="og:image" content="http://www.shinetext.com/images/shine-logo.png" />

  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <link href="<%= css %>" rel="stylesheet">
</head>
<body>

  <div class="navbar">
    <img class="shine-logo" src="https://images.contentful.com/awpxl2koull4/FFhnW3pbga4qmCOM24kmc/8c718dac9a5357db86c55b637461f4f3/Shine-logo-web.png?w=100">
  </div>

  <header style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5))<% if (typeof articleHeaderPhoto !== 'undefined') { %>,url(<%= articleHeaderPhoto %>)<% } %>">
    <% if (typeof articleCategory !== 'undefined') { %>
    <div class="category"><%= articleCategory %></div>
    <% } %>

    <div class="article-header-text">
      <h1 class="title"><%= articleTitle %></h1>

      <% if (articleAuthor && articleAuthor.name) { %>
      <div class="-author">
        By <%= articleAuthor.name %>
      </div>
      <% } %>
    </div>
  </header>

  <div class="container-fluid">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <div class="row pre-article">
        <% if (articleAuthor.picture && articleAuthor.picture.file) { %>
        <div id="header-author-photo">
          <img src="https:<%= articleAuthor.picture.file.url %>">
        </div>
        <% } %>

        <!-- <div id="date"><%= articleDate %></div> -->
        <div class="social-tags-container">
          <div class="social-container col-xs-12 col-xs-offset-0 col-md-6">
            <a class="icon-twitter" href="http://twitter.com/share?via=ShineText&url=http://advice.shinetext.com/<%= articleUrlPath %>&text=<%= articleTitle %>" target="_blank"></a>
            <a class="icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=http://advice.shinetext.com/<%= articleUrlPath %>&title=<%= articleTitle %>" target="_blank"></a>
            <a class="icon-email" href="mailto:?subject=<%= articleTitle %>&body=Article: http://advice.shinetext.com/<%= articleUrlPath %>" rel="external"></a>
          </div>

          <div class="tags-container col-xs-12 col-xs-offset-0 col-md-6">
            <img class="tags-pin" src="https://images.contentful.com/awpxl2koull4/6YLMyJkVLaWA8giwgIaqIe/1127aa4d12a5121257b3318d3d06dc4e/tag-pin.png">

            <div class="tags">
            <% for (var i=0; i < articleTags.length; i++) { %>
              <%= articleTags[i] %><%if (i < articleTags.length - 1) {%>, <% } %>
            <% } %>
            </div>
          </div>
        </div>
      </div>

      <div id="article-body">
        <%- articleBody %>
      </div>
    </div>
  </div>
</body>
</html>