<!DOCTYPE html>
<html>
<head>
  <title>Today's Shine</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet" type="text/css">

  <link href="<%= css %>" rel="stylesheet">

  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-68971267-2', 'auto');
    ga('require', 'eventTracker');
    ga('send', 'pageview');

  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src='https://cdnjs.cloudflare.com/ajax/libs/autotrack/1.0.1/autotrack.js'></script>
</head>
<body>

  <div>
    <div id="container-messages">
      <div class="mt message-bubble">hi.</div>
    </div>
  </div>

  <!-- Content templates -->
  <!-- Template for messages that are sent to the user. -->
  <script id="template-mt" type="text/template">
    <div>
      <div class="mt message-bubble">
        <? if (typeof media !== 'undefined') { ?>
          <img src="https://<?= media ?>?w=400">
        <? } ?>
        <? if (typeof message !== 'undefined') { ?>
          <?= message ?>
        <? } ?>
        <? if (typeof linkTitle !== 'undefined' && typeof linkUrl !== 'undefined') { ?>
        <div>
          <a href="<?= linkUrl ?>" target="_blank"><?= linkTitle ?></a>
        </div>
        <? } ?>
      </div>
    </div>
  </script>

  <!-- Template for messages that are sent from the users. -->
  <script id="template-mo" type="text/template">
    <div class="mo message-bubble">
    </div>
  </script>

  <!-- Template for button choices the user can tap to respond with. -->
  <script id="template-mo-choice" type="text/template">
    <div class="mo-container">
      <div id="mo-<?= messageNum ?>" class="mo-choice message-bubble"
        ga-on="click"
        ga-event-category="MO"
        ga-event-action="click">
      <?= label ?>
      </div>
    </div>
  </script>

  <!-- Template for section that's displayed once the end is reached -->
  <script id="template-daily-end" type="text/template">
    <div id="end-section">
      <div class="separator"></div>
      <? if (showCTA) { ?>
        <div>Like what you read?</div>
        <div>Get Shine now for daily affirmations on your phone!</div>
        <div>
          <a href="http://www.shinetext.com">SIGN UP</a>
        </div>
      <? } ?>
      <div id="end-message"><?= endMessage ?></div>
      <div>Share Today's Shine with friends!</div>
      <a href="<?= shareLink ?>">
        <?= shareLink ?>
      </a>
      <div>Facebook</div>
      <div>Twitter</div>
    </div>
  </script>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

  <script>
  var contentBaseUrl = '<%= contentBaseUrl %>';
  var photonBaseUrl = '<%= photonBaseUrl %>';
  </script>
  <script src="<% if (typeof jsPath !== 'undefined') { %><%= jsPath %><% } %>/js/ejs.min.js"></script>
  <script src="<% if (typeof jsPath !== 'undefined') { %><%= jsPath %><% } %>/js/dailyshine.js"></script>
</body>
</html>